---
import Item from "@/components/item.astro"
import Layout from "@/layout/layout.astro"
import { getCategoriesForType } from "@/utils/content-categories-generic.utils"
import { getContentForType } from "@/utils/content-filters.utils"
import type { ContentItemWithoutContent } from "@/utils/content.type"

export async function getStaticPaths() {
  const items = await getContentForType("deep-dives")
  const itemsWithoutContent = items.map(({ Content: _, ...rest }) => rest) as ContentItemWithoutContent[]
  const categories = await getCategoriesForType("deep-dives", itemsWithoutContent)

  return categories.map((category) => ({
    params: { category: category.id },
    props: { category },
  }))
}

const { category } = Astro.props
const crumbs = [{ name: "Deep Dives", href: "/deep-dives" }]
---

<Layout title={category.title} description={category.description} {crumbs} pageType="default">
  <h1 class="mb-3">{category.title}</h1>
  <p class="text-muted mb-8">{category.description}</p>

  {
    category.items.length > 0 ? (
      <ul class="flex flex-col">
        {category.items.map((item) => (
          <Item {item} showCategory={false} headingLevel="h2" />
        ))}
      </ul>
    ) : (
      <p class="text-muted">No notes yet in this category.</p>
    )
  }
</Layout>
