---
import Item from "@/components/item.astro"
import Layout from "@/layout/layout.astro"
import { getAllCategories } from "@/utils/content-categories.utils"

export async function getStaticPaths() {
  const categories = await getAllCategories()
  const paths = []

  for (const category of categories) {
    for (const subcategory of category.subcategories) {
      paths.push({
        params: { category: category.id, subcategory: subcategory.id },
        props: { category, subcategory },
      })
    }
  }

  return paths
}

const { category, subcategory } = Astro.props
const crumbs = [
  { title: "Categories", href: "/category" },
  { title: category.name, href: category.href },
]
---

<Layout title={subcategory.name} description={subcategory.description} {crumbs} pageType="default">
  <h1>{subcategory.name}</h1>
  <p class="mb-8">{subcategory.description}</p>

  {
    subcategory.deepDives.length > 0 ? (
      <ul class="flex flex-col">
        {subcategory.deepDives.map((dd) => (
          <Item item={dd} />
        ))}
      </ul>
    ) : (
      <p class="text-muted-foreground">No notes yet in this subcategory.</p>
    )
  }
</Layout>
