---
import { getVanityUrls } from "@/utils/content-vanity.utils"

export async function getStaticPaths() {
  const vanityEntries = await getVanityUrls()

  return vanityEntries.map((entry) => ({
    params: { vanity: entry.source },
    props: {
      source: entry.source,
      target: entry.target,
    },
  }))
}

const { source, target } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <title>Redirecting to: {target}</title>
    <meta http-equiv="refresh" content={`0;url=${target}`} />
    <meta name="robots" content="noindex" />
    <link rel="canonical" href={target} />
  </head>
  <body>
    <a href={target}>
      Redirecting from <code>{source}</code> to <code>{target}</code>
    </a>
  </body>
</html>
