---
import Item from "@/components/item.astro"
import Layout from "@/layout/layout.astro"
import { getAllContentChronological } from "@/utils/content-filters.utils"

const allContent = await getAllContentChronological()
---

<Layout title="All Articles" description="Browse all content in reverse chronological order" crumbs={null} pageType="default">
  <h1 class="mb-2">All Articles</h1>
  <p class="text-muted mb-8">{allContent.length} articles, deep dives, and notes sorted by date.</p>

  <ul class="flex flex-col">
    {allContent.map((item) => <Item {item} showType={true} showCategory={true} />)}
  </ul>
</Layout>
