---
import type { Series } from "@/utils/content.type"
import Link from "./link.astro"
import Accordion from "./accordion.astro"

interface Props {
  title: string
  as?: "article" | "section"
  series?: Series
  noIndex?: boolean
}

const { title, as, series, noIndex } = Astro.props as Props
const Element = as === "article" ? "article" : "section"
---

<Element data-pagefind-body={noIndex ? null : ""} class="mx-auto my-8 prose prose-base max-w-none dark:prose-invert">
  {
    series && (
      <Accordion title={`Part of Series: ${series.name}`} open={true} noIndex={true}>
        <ol class="list-inside list-decimal space-y-2 p-0">
          {series.blogs.map((blog) => (
            <li class="pl-2">
              {blog.title === title ? (
                <span class="font-medium text-primary-600 dark:text-primary-400">{blog.title}</span>
              ) : (
                <Link href={blog.href} class="hover:underline">
                  {blog.title}
                </Link>
              )}
            </li>
          ))}
        </ol>
      </Accordion>
    )
  }
  <slot />
</Element>
