---
import Layout from "@/layout/layout.astro"
import Link from "@/components/link.astro"
import Frontmatter from "@/components/frontmatter.astro"
import { getInResearchIncludingDrafts } from "@/utils/content-inresearch.utils"

const items = await getInResearchIncludingDrafts()
---

<Layout
  title="In Research"
  description="Topics and articles currently being researched and developed"
  crumbs={null}
  pageType="default"
  noIndex={true}
>
  <h1 class="page-title">In Research</h1>
  <p class="page-description">
    {items.length} topics currently being researched. These are work-in-progress articles that may be incomplete or evolving.
  </p>

  <ul class="flex flex-col">
    {items.map((item) => (
      <li class="content-item">
        <h3 class="content-item-title">
          <Link href={item.href} class="content-item-link">
            {item.title}
          </Link>
        </h3>

        <Frontmatter
          minutesRead={item.minutesRead}
          lastReviewedOn={item.lastReviewedOn}
          isDraft={item.isDraft}
          showType={true}
          type={item.type}
          class="content-item-frontmatter"
        />

        <p class="content-item-excerpt">
          {item.description}
        </p>

        {item.tags && item.tags.length > 0 && (
          <div class="content-item-tags">
            {item.tags.slice(0, 5).map((tag) => (
              <Link href={tag.href} class="tag">{tag.name}</Link>
            ))}
            {item.tags.length > 5 && <span class="tag">+{item.tags.length - 5}</span>}
          </div>
        )}
      </li>
    ))}
  </ul>
</Layout>
