---
import { SITE } from "@/constants/site"

export type Props = {
  title: string
  description: string
  image?: string | undefined
  pageType: "default" | "article"
}
const defaultDescription = "Sujeet's personal website - Blog and Portfolio"
const { description, image, pageType = "default" } = Astro.props
const title = Astro.props.title ? `${Astro.props.title} - Sujeet Jaiswal` : "Sujeet Jaiswal"
const canonicalURL = SITE.origin + Astro.url.pathname
const seoPageType = pageType === "default" ? "website" : "article"
---

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />
<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description || defaultDescription} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content={seoPageType} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
{image ? <meta property="og:image" content={new URL(image, Astro.url)} /> : null}

<!-- Twitter / X -->
<meta name="twitter:site" content="@sujeetpro" />
<meta name="twitter:card" content="summary_large_image" />
